# Background

The purpose of this project is to make an API (Application Program Interface) using python so that this application can read and send the response based on the user's request.


Data that we used :
* chinook.db : this data is database file


Environments that we used :
* python
* pandas
* flask
* gunicorn


The library that we used :
* Flask from flask
* request from flask
* pandas 
* sqlite3

In [58]:
import pandas as pd
import sqlite3
import requests

In [57]:
conn = sqlite3.connect("data_input/chinook.db")
query = """
SELECT genres.Name as GenreName, genres.GenreId, tracks.Name as TrackName, tracks.AlbumId, tracks.MediaTypeId, tracks.Composer, tracks.Milliseconds, tracks.Bytes, invoice_items.*, invoices.InvoiceDate, invoices.BillingAddress, invoices.BillingCity, invoices.BillingState, invoices.BillingCountry, invoices.BillingPostalCode, invoices.Total, customers.*
FROM genres
JOIN tracks ON genres.GenreId == tracks.GenreId
JOIN invoice_items ON tracks.TrackId == invoice_items.TrackId
JOIN invoices ON invoice_items.InvoiceId == invoices.InvoiceId
JOIN customers ON invoices.CustomerId == customers.CustomerId
"""

x = pd.read_sql_query(query, conn)
x.axes

[RangeIndex(start=0, stop=2240, step=1),
 Index(['GenreName', 'GenreId', 'TrackName', 'AlbumId', 'MediaTypeId',
        'Composer', 'Milliseconds', 'Bytes', 'InvoiceLineId', 'InvoiceId',
        'TrackId', 'UnitPrice', 'Quantity', 'InvoiceDate', 'BillingAddress',
        'BillingCity', 'BillingState', 'BillingCountry', 'BillingPostalCode',
        'Total', 'CustomerId', 'FirstName', 'LastName', 'Company', 'Address',
        'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email',
        'SupportRepId'],
       dtype='object')]

In [36]:
y = (pd.crosstab(index=x["Country"],
                    columns=x["GenreName"], 
                    values=x["Quantity"], 
                    aggfunc="sum", 
                    normalize="all", 
                    margins=True)
                    *100).\
        round(2).\
        sort_values(by="All", ascending=False, axis=1).\
        sort_values(by="All", ascending=False, axis=0).\
        astype("str")+"%"

In [9]:
(pd.crosstab(index=x["Country"], columns=x["GenreName"], values=x["Quantity"], aggfunc="sum", normalize="all", margins=True)*100).round(2).sort_values(by="All", ascending=False, axis=1).sort_values(by="All", ascending=False, axis=0).astype("str")+"%"

GenreName,All,Rock,Latin,Metal,Alternative & Punk,Jazz,Blues,TV Shows,Classical,R&B/Soul,...,Hip Hop/Rap,Bossa Nova,Alternative,World,Heavy Metal,Electronica/Dance,Easy Listening,Comedy,Rock And Roll,Science Fiction
Country,,,,,,,,,,,,,,,,,,,,,
All,100.0%,37.28%,17.23%,11.79%,10.89%,3.57%,2.72%,2.1%,1.83%,1.83%,...,0.76%,0.67%,0.62%,0.58%,0.54%,0.54%,0.45%,0.4%,0.27%,0.27%
USA,22.05%,7.01%,4.06%,2.86%,2.23%,0.98%,0.67%,0.62%,0.36%,0.54%,...,0.18%,0.31%,0.22%,0.0%,0.18%,0.0%,0.13%,0.36%,0.13%,0.04%
Canada,13.57%,4.78%,2.68%,1.79%,1.61%,0.58%,0.18%,0.04%,0.22%,0.22%,...,0.22%,0.31%,0.0%,0.27%,0.0%,0.18%,0.0%,0.0%,0.09%,0.0%
Brazil,8.48%,3.62%,2.37%,0.67%,0.31%,0.0%,0.27%,0.0%,0.27%,0.13%,...,0.09%,0.0%,0.0%,0.09%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
France,8.48%,2.9%,1.16%,0.89%,1.38%,0.49%,0.09%,0.04%,0.45%,0.0%,...,0.09%,0.04%,0.18%,0.0%,0.0%,0.09%,0.0%,0.0%,0.04%,0.0%
Germany,6.79%,2.77%,0.8%,1.12%,0.58%,0.09%,0.62%,0.13%,0.0%,0.0%,...,0.0%,0.0%,0.04%,0.0%,0.13%,0.0%,0.09%,0.0%,0.0%,0.09%
United Kingdom,5.09%,1.65%,1.38%,0.89%,0.4%,0.18%,0.0%,0.0%,0.0%,0.09%,...,0.13%,0.0%,0.0%,0.04%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Czech Republic,3.39%,1.12%,0.4%,0.27%,0.4%,0.13%,0.04%,0.36%,0.0%,0.09%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.09%,0.0%,0.0%,0.0%,0.04%
Portugal,3.39%,1.38%,0.58%,0.49%,0.22%,0.09%,0.04%,0.04%,0.0%,0.09%,...,0.0%,0.0%,0.0%,0.09%,0.09%,0.04%,0.0%,0.0%,0.0%,0.0%
India,3.3%,1.12%,0.4%,0.36%,0.49%,0.45%,0.13%,0.04%,0.09%,0.18%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Netherlands,1.7%,0.8%,0.13%,0.09%,0.22%,0.0%,0.18%,0.0%,0.0%,0.0%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Sweden,1.7%,0.45%,0.54%,0.31%,0.27%,0.04%,0.0%,0.04%,0.0%,0.0%,...,0.0%,0.0%,0.0%,0.04%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Spain,1.7%,0.98%,0.18%,0.13%,0.18%,0.09%,0.0%,0.0%,0.0%,0.0%,...,0.04%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Poland,1.7%,0.98%,0.31%,0.0%,0.31%,0.04%,0.04%,0.0%,0.0%,0.0%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Norway,1.7%,0.76%,0.22%,0.0%,0.09%,0.0%,0.0%,0.0%,0.22%,0.0%,...,0.0%,0.0%,0.18%,0.04%,0.0%,0.09%,0.0%,0.0%,0.0%,0.0%
Argentina,1.7%,0.4%,0.36%,0.31%,0.4%,0.09%,0.0%,0.0%,0.0%,0.0%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.09%,0.0%,0.0%,0.0%
Italy,1.7%,0.8%,0.09%,0.04%,0.49%,0.0%,0.18%,0.0%,0.09%,0.0%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Ireland,1.7%,0.54%,0.31%,0.13%,0.18%,0.13%,0.04%,0.31%,0.0%,0.0%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Australia,1.7%,0.98%,0.09%,0.36%,0.0%,0.0%,0.04%,0.0%,0.0%,0.0%,...,0.0%,0.0%,0.0%,0.0%,0.13%,0.0%,0.0%,0.0%,0.0%,0.0%
Finland,1.7%,0.8%,0.4%,0.09%,0.09%,0.09%,0.0%,0.0%,0.0%,0.0%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Denmark,1.7%,0.94%,0.18%,0.27%,0.18%,0.0%,0.0%,0.0%,0.0%,0.0%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Chile,1.7%,0.4%,0.36%,0.13%,0.09%,0.0%,0.09%,0.09%,0.04%,0.0%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.13%,0.0%,0.0%,0.09%
Belgium,1.7%,0.94%,0.0%,0.04%,0.62%,0.0%,0.0%,0.0%,0.0%,0.09%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Austria,1.7%,0.67%,0.09%,0.31%,0.0%,0.09%,0.0%,0.18%,0.09%,0.18%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
Hungary,1.7%,0.49%,0.13%,0.22%,0.13%,0.0%,0.09%,0.18%,0.0%,0.22%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.04%,0.0%,0.04%,0.0%,0.0%

In [99]:
url1 = 'http://localhost:5000/capstone/get/chinook.db/quantity/prop/Pop'
r = requests.get(url1)
r_pd = pd.DataFrame(r.json())
r_pd

                  Pop
All             1.25%
Argentina        0.0%
Australia        0.0%
Austria         0.04%
Belgium          0.0%
Brazil          0.13%
Canada           0.0%
Chile            0.0%
Czech Republic  0.18%
Denmark         0.13%
Finland          0.0%
France          0.09%
Germany         0.04%
Hungary          0.0%
India            0.0%
Ireland          0.0%
Italy            0.0%
Netherlands     0.13%
Norway           0.0%
Poland           0.0%
Portugal        0.18%
Spain            0.0%
Sweden           0.0%
USA             0.22%
United Kingdom  0.09%

In [72]:
conn = sqlite3.connect("data_input/chinook.db")
query = """
SELECT genres.Name as GenreName, genres.GenreId, tracks.Name as TrackName, tracks.AlbumId, tracks.MediaTypeId, tracks.Composer, tracks.Milliseconds, tracks.Bytes, invoice_items.*, invoices.InvoiceDate, invoices.BillingAddress, invoices.BillingCity, invoices.BillingState, invoices.BillingCountry, invoices.BillingPostalCode, invoices.Total, customers.*
FROM genres
JOIN tracks ON genres.GenreId == tracks.GenreId
JOIN invoice_items ON tracks.TrackId == invoice_items.TrackId
JOIN invoices ON invoice_items.InvoiceId == invoices.InvoiceId
JOIN customers ON invoices.CustomerId == customers.CustomerId
"""

x = pd.read_sql_query(query, conn, parse_dates='InvoiceDate')
x = x.astype("str")

In [73]:
x.dtypes

GenreName            object
GenreId              object
TrackName            object
AlbumId              object
MediaTypeId          object
Composer             object
Milliseconds         object
Bytes                object
InvoiceLineId        object
InvoiceId            object
TrackId              object
UnitPrice            object
Quantity             object
InvoiceDate          object
BillingAddress       object
BillingCity          object
BillingState         object
BillingCountry       object
BillingPostalCode    object
Total                object
CustomerId           object
FirstName            object
LastName             object
Company              object
Address              object
City                 object
State                object
Country              object
PostalCode           object
Phone                object
Fax                  object
Email                object
SupportRepId         object
dtype: object

In [94]:
conn = sqlite3.connect("data_input/chinook.db")
query = """
SELECT genres.Name as GenreName, invoice_items.Quantity, customers.Country
FROM genres
JOIN tracks ON genres.GenreId == tracks.GenreId
JOIN invoice_items ON tracks.TrackId == invoice_items.TrackId
JOIN invoices ON invoice_items.InvoiceId == invoices.InvoiceId
JOIN customers ON invoices.CustomerId == customers.CustomerId
"""

x = pd.read_sql_query(query, conn)
y = (pd.crosstab(index=x["Country"],
                    columns=x["GenreName"], 
                    values=x["Quantity"], 
                    aggfunc="sum", 
                    normalize="all", 
                    margins=True)
                    *100).\
        round(2).\
        sort_values(by="All", ascending=False, axis=1).\
        sort_values(by="All", ascending=False, axis=0).\
        astype("str")+"%"
z = y[["Blues"]]
z

GenreName       Blues
Country
All             2.72%
USA             0.67%
Canada          0.18%
Brazil          0.27%
France          0.09%
Germany         0.62%
United Kingdom   0.0%
Czech Republic  0.04%
Portugal        0.04%
India           0.13%
Netherlands     0.18%
Sweden           0.0%
Spain            0.0%
Poland          0.04%
Norway           0.0%
Argentina        0.0%
Italy           0.18%
Ireland         0.04%
Australia       0.04%
Finland          0.0%
Denmark          0.0%
Chile           0.09%
Belgium          0.0%
Austria          0.0%
Hungary         0.09%

a